In [3]:
import pandas as pd
import numpy as np

from settings import PATH_TO_DATA, CHECKPOINTS_DIRECTORY

In [4]:
def get_movie_id_to_feature_mapping(movies_metadata_df):
    mapping = {}
    for i, row in movies_metadata_df.iterrows():
        features = {
            "title": row["title"],
            "id": row["id"],
        }

        mapping[int(row['id'])] = features

    return mapping

In [7]:
user_column = 'userId'
item_column = 'movieId'
rating_column = 'rating'

In [8]:
user_ratings_df = pd.read_csv(f"{PATH_TO_DATA}/raw/the-movies-dataset/ratings_small.csv")
movies_metadata = pd.read_csv(f"{PATH_TO_DATA}/raw/the-movies-dataset/movies_metadata_clean.csv")
movie_id_features_dict = get_movie_id_to_feature_mapping(movies_metadata)

# Most rated and top rated movies

In [9]:
user_ratings_df['ratings_count'] = 1

user_ratings_df = user_ratings_df[user_ratings_df[item_column].isin(movie_id_features_dict.keys())]

titles_dict = {movieId: features['title'] for movieId, features in movie_id_features_dict.items()}

most_rated_df = user_ratings_df.groupby(by=['movieId']).agg({'ratings_count': 'count', 'rating': 'mean'}).sort_values(
    'ratings_count', ascending=False).reset_index().head(10)

top_rated_df = user_ratings_df.groupby(by=['movieId']).agg({'ratings_count': 'count', 'rating': 'mean'}).sort_values(
    'rating', ascending=False).reset_index().head(10)

In [13]:
most_rated_df['title'] = most_rated_df["movieId"].map(titles_dict)
top_rated_df['title'] = top_rated_df["movieId"].map(titles_dict)

In [14]:
most_rated_df[['title', 'ratings_count']]

                                title  ratings_count
0  Terminator 3: Rise of the Machines            324
1            The Million Dollar Hotel            311
2                             Solaris            304
3                        The 39 Steps            291
4                     Monsoon Wedding            274
5                  Once Were Warriors            244
6                   Three Colors: Red            228
7                     Men in Black II            224
8          The Passion of Joan of Arc            218
9                         Silent Hill            215

In [16]:
top_rated_df[['title', 'ratings_count', 'rating']]

                                   title  ratings_count  rating
0                              Ninotchka              2     5.0
1                          Chalte Chalte              1     5.0
2                       The One-Man Band              1     5.0
3  Anchorman: The Legend of Ron Burgundy              1     5.0
4                   Frank Herbert's Dune              1     5.0
5                     You, Me and Dupree              1     5.0
6                                Orgazmo              1     5.0
7                        The Pillow Book              1     5.0
8                           Royal Deceit              1     5.0
9                    Singin' in the Rain              1     5.0